{
  "presets": [
    [
      "env",
      {
        "browsers": [
          "last 2 versions",
          "IE >= 11"
        ],
        "exclude": [
          "transform-es2015-for-of",
          "transform-es2015-typeof-symbol"
        ],
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-assign",
    "transform-for-of-as-array",
    "external-helpers"
  ]
}
