{
  "presets": [
    [
      "env",
      {
        "browsers": [
          "last 2 versions",
          "IE >= 11"
        ],
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}
