name: Build pull request
on: [pull_request]
jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12, 14]
    # Run only on non-merged non-draft mergeable pull requests
    if: |
      !(
        (github.event.action == 'opened' || github.event.action == 'reopened' || github.event.action == 'synchronize')
        && !github.event.pull_request.draft
        && !github.event.pull_request.merged
        && github.event.pull_request.merge_commit_sha != null
      )
    steps:
      - name: Check out merge commit of pull request
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          submodules: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm install
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      - run: npm test:types
      - run: npm test:unit
      - run: npm test:wpt:node
      - run: npm test:bundler

  test-browser:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [chromium, firefox]
    if: |
      !(
        (github.event.action == 'opened' || github.event.action == 'reopened' || github.event.action == 'synchronize')
        && !github.event.pull_request.draft
        && !github.event.pull_request.merged
        && github.event.pull_request.merge_commit_sha != null
      )
    steps:
      - name: Check out merge commit of pull request
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          submodules: true
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: npm
      - run: npm install
      - run: npx playwright install-deps ${{ matrix.browser }}
      - run: npm test:wpt:${{ matrix.browser }}
