name: Build on push
on: [push]
jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    # Skip job if commit message contains "[skip ci]"
    if: |
      !contains(github.event.head_commit.message, '[skip ci]')
    steps:
      - name: Check out commit
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      - run: npm test:types
      - run: npm test:unit
      - run: npm test:wpt:node
      - run: npm test:bundler

  test-browser:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x]
        browser: [chromium, firefox]
    if: |
      !contains(github.event.head_commit.message, '[skip ci]')
    steps:
      - name: Check out commit
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npx playwright install-deps ${{ matrix.browser }}
      - run: npm test:wpt:${{ matrix.browser }}
